<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

	<form action='/addNewWord' method='post'>
		<input type='text' placeholder="swerve" name='newWord'>

		<button type='submit'>Submit </button>
	</form>
</body>
</html>